@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand img {
    height: 50px;
    width: 50px;
}

.carousel-caption {
    padding: 0px 150px;
}

.discount {
    position: relative;
    top: -200px;
    left: 350px;

}

.packages li {
    list-style: none;
    margin-bottom: 10px;
}
footer{
    background-color: black;
    color:#fff;
}
.footer-brand img{
    width: 40px;
    height: 40px;
}